[Unit]
Description=Board Game Geek RSS Aggregator
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/share/webapps/bggrss/.env/bin/python /usr/share/webapps/bggrss/generate.py

[Install]
WantedBy=multi-user.target
