<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>BGG Auction Feed</title>
  <meta name="description" content="">
  <meta name="author" content="Milo Gertjejansen (milo@milogert.com)">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{{url_for('static', filename='css/normalize.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/skeleton.css')}}">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="{{url_for('static', filename='images/favicon.png')}}">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <h1>BGG Auction Feed</h1>
      </div>
    </div>
    <div class="row">
      <form method="post" action="/between">
        <input class="u-full-width" placeholder="Enter Username" type="text" id="username" name="username">
        <input class="button-primary u-full-width" type="submit" value="Get RSS Link">
      </form>

      {% if username %}
        <div class="twelve columns">
          <h2>RSS Link</h2>
	  <pre><code>{{link}}</code></pre>
	  <p>Place the above link into your RSS feed reader.</p>
        </div>
      {% endif %}
    </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
